/*5. Apply an external styling to a paragraph tag*/
/*CSS Specificity Rule*/
#external {
    color: yellow;
}

/*6. Change the font-family and the font size of all elements using the universal selector.*/
/*CSS Selectors*/
/*Universal Selector*/
* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}

/*7. Change the font-size of h1 tags using a type selector.*/
/*Type Selector*/
h1 {
    font-size: 3rem;
}

/*8. Change the text to all uppercase letters for h2 tags using an id selector.*/
/*ID Selector*/
#sub-header {
    text-transform: uppercase;
}

/*9. Change the background colors of the languages to be learn list items using a class selectors.*/
/*Class Selector*/
.text-green {
    background-color: #aed19d;
}

/*10. Change the border of the tools to be used list items using a attribute selectors.*/
/*Attribute Selector*/
li[class="border-blue"] {
    border: 2px solid rgb(157, 176, 209);
}

/*11. Change the list style type of the other things to be learned list using an adjacent sibling selector. */
/*CSS Combinator Selectors*/
/*Adjacent Sibling Selector*/
img + ul {
    list-style-type: none;
}

/*12. Change the dimensions of the image tag using a descendant selector.*/
/*Descendant Selector*/
section img {
    height: 20vh;
    width: 20vh;
    border-radius: 100px;
}

/*13. Change the alignment of the last paragraph using a generic sibling selector.*/
/*Generic Sibling Selector*/
ul ~ p {
    text-align: center;
}

/*14. Change the letter spacing of the other things to be learned list items using a child selector.*/
/*Child Selector*/
section > ul > li {
    letter-spacing: 10px;
}